.DS_Store
.venv-planemo/
.planemo-home/
.planemo-cache/
.conda-pkgs/
__pycache__/
*.pyc
node_modules/
.pnpm-store/
tool_test_output.*
planemo-test-output/
**/.idea/
config/datatypes/merged_datatypes_conf.xml
